<div class='container w-100 d-inline-block' style='padding:0'>
<nav class="nav mx-auto text-center" id='footer'>
  	<a href="/home" class="nav__link nav__link--active">
   	    <i class="material-icons">home</i>
   	    <div class="nav__text">Home</div>
  	</a>
 	<a href="/education" class="nav__link nav__link--active">
  		<i class="material-icons">book</i>
   		<div class="nav__text">Education</div>
    </a>
 	<a href="/profile" class="nav__link nav__link--active">
  		<i class="material-icons">person</i>
   		<div class="nav__text">Profile</div>
 	</a>
</nav>
</div>