<html>
<head>
	<title>Skincare Education</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->
	<link href="/css/skinX.css" rel="stylesheet">

</head>
<body>

	<div class='container'>

		<p id='mainTitle'>skinX Education</p>

		<div class='row'>
			<img class='rounded mx-auto d-block' src='/image/edImgBW.svg' alt='ed-img'>
		</div>

		<p id='infoText'>Your skin is the largest organ you have and is essential 
			to your general health. By taking care of it, it can also help to take care of you. This is 
			why it is important to find your skin care routine.</p>
		<p id='naviText'>Read more about each step in a skin care routine:</p>

		<div class='row my-2'>
			<div class='col'>
				<a href='/articles' class='thumbnail'>
				<button class="btn btn-secondary mx-auto my-auto d-block"><img src='/image/cleanserBW.svg' alt='cleanser-button'></button>
				</a>
			</div>

			<div class='col'>
				<a href='/articles' class='thumbnail'>
				<button class="btn btn-secondary mx-auto my-auto d-block"><img src='/image/tonerBW.svg' alt='toner-button'></button>
				</a>
			</div>
		</div>

		<div class='row my-2'>
			<div class='col'>
				<a href='/articles' class='thumbnail'>
				<button class="btn btn-secondary mx-auto my-auto d-block"><img src='/image/serumBW.svg' alt='serum-button'></button>
				</a>
			</div>

			<div class='col'>
				<a href='/articles' class='thumbnail'>
				<button class="btn btn-secondary mx-auto my-auto d-block"><img src='/image/moistBW.svg' alt='moist-button'></button>
				</a>
			</div>
		</div>

		<nav class="row nav mx-auto my-4">
  			<a href="/" class="nav__link">
   			 <i class="material-icons">home</i>
   			 <span class="nav__text">Home</span>
  			</a>
 			  <a href="/education" class="nav__link nav__link--active">
  			  <i class="material-icons">book</i>
   			 <span class="nav__text">Education</span>
  			</a>
 			 <a href="/profile" class="nav__link nav__link--active">
  			  <i class="material-icons nav__icon">person</i>
   			 <span class="nav__text">Profile</span>
 			 </a>
		</nav>

	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
		crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
		crossorigin="anonymous">
	</script>
	<!--<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>-->
	<script src="/js/skinX.js"></script>

</body>
</html>

