<html>
<head>
	<title>Skincare Education</title>
	{{> top}}

</head>
<body>

	<div class='container'>
		<div id='mainSpace'>
		<p id='mainTitle'>skinX Education</p>

		<div class='row'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='ed-img'>
		</div>

		<p id='infoText'>Your skin is the largest organ you have and is essential 
			to your general health. By taking care of it, it can also help to take care of you. This is 
			why it is important to find your skin care routine.</p>
		<p id='naviText'>Read more about each step in a skin care routine:</p>
		<br>

		{{#each articles}}
		
			<div class='col'>
				<a href='/articles/{{id}}'>
				<button class="buttonEd mx-auto my-auto d-block"><img src='image/{{image}}'></button>
				</a>
				<br>
			</div>
	
		{{/each}}

		<!--{{#each articles}}
		<div class='row my-2'>
			<div class='col'>
				<a href='/articles/{{id}}' class='thumbnail'>
				<button class="button mx-auto my-auto d-block"><img src='image/{{image}}'></button>
				</a>
			</div>
		</div>
		{{/each}}-->

		</div>
		
		

	</div>

	<div>
		{{> nav}}
	</div>


	{{> bottom}}

</body>
</html>

