<html>
<head>
	<title>Skincare Education</title>
	{{> top}}

</head>
<body style="background-color: rgb(250, 250, 250);">

	<div class='container' id='mainSpace'>
		<p id='mainTitle'>Education  <img class='leafSize' src='/image/leaf.svg' alt='leaf-img'></p>
		<!--<div class='row'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='ed-img'>
		</div>-->

		<p id='infoText'>Your skin is the largest organ you have and is essential 
			to your general health. By taking care of it, it can also help to take care of you. This is 
			why it is important to find your skin care routine.</p>
		<p id='naviText'>Read more about each step in a skin care routine:</p>
		<br>
		<div class="row">

			{{#each articles}}
				<div class='col mx-1 my-3 d-block'>
					<a href='/articles/{{id}}' 
						role="button"><img class='buttonEd m-auto d-block'src='image/{{image}}'>
					</a>
				</div>
			{{/each}}

		</div>

	</div>

	{{> nav}}
	
	{{> bottom}}

</body>
</html>

