<html>
<head>
	<title>skinX Sign Up</title>
	{{> top}}

</head>
<body>
	<div class='container'>

		<p id='mainTitle'>skinX</p>

		<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='leaf-img'>
		</div>

		<div id='mainBackground'>


		<div class='row'>
			<!--login form-->
			<form class='form1 m-auto'>
				<br>
				<p class='sign mx-auto my-auto d-block text-center'>Create Account</p>
				<br>
				<input type='text' name='username' class='un mx-auto my-auto d-block px-5 py-2'placeholder='Username' required>
				<br>
				<input type='password' name='password' id='password-field' class='un mx-auto my-auto d-block px-5 py-2' placeholder='Password' required>
				<br>
				<input type='password' name='Cpassword' id='cpassword-field' class='un mx-auto my-auto d-block px-5 py-2' placeholder='Confirm Password' required>
				<br>
				<input type='submit' style='font-family:'Lato';' class='submit mx-auto my-auto d-block px-5 py-2' value='SUBMIT' id='sign-form-submit'>
				<br>
				<p class='register'>Already have an account? <a style='font-weight:bold;' class='register' href='login'>LOGIN</a></p>
			</form>
		</div>

		<div class='row'>
			<p>{{username}}</p>
		</div>

		</div>

	</div>

	{{> bottom}}

</body>
</html>
