<html>
<head>
	<title>skinX Sign Up</title>
	{{> top}}

</head>
<body>
	<div class='container'>

		<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='leaf-img'>
		</div>

		<p class='text-center' id='mainTitle'>skinX</p>

		<div id='mainBackground'>


		<div class='row'>
			<!--login form-->
			<form class='form1'>
				<p class='sign' align='center'>Create Account</p>
				<br>
				<!--email input-->
				<input type='text' name='username' class='un' class='m-4' placeholder='Username' required>
				<input type='password' name='password' id='password-field' class='un' class='sign-form-field m-4' placeholder='Password' required>
				<input type='password' name='Cpassword' id='cpassword-field' class='un' class='sign-form-field m-4' placeholder='Confirm Password' required>
				<br>
				<input type='submit' style='font-family:'Lato';' class='submit' value='SUBMIT' id='sign-form-submit' class='m-4'>
				<br>
				<p class='register' align='center' class='m-4'>Already have an account? <a style='font-weight:bold;' class='register' class='m-4' href='login'>LOGIN</a></p>
			</form>
		</div>

		<div class='row'>
			<p>{{username}}</p>
		</div>

		</div>

	</div>

	{{> bottom}}

</body>
</html>
