<html>
<head>
	<title>skinX Sign Up</title>
	{{> top}}

</head>
<body>
	<div class='container'>

		<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='leaf-img'>
		</div>

		<p class='text-center' id='mainTitle'>skinX</p>

		<div id='mainBackground'>

		<div class='row'>
			<p class='m-4'>Create account</p>
		</div>

		<div class='row'>
			<!--login form-->
			<form id='sign-form'>
				<!--email input-->
				<input type='text' name='username' id='username' class='m-4' placeholder='Username' required>
				<input type='password' name='password' id='password-field' class='sign-form-field m-4' placeholder='Password' required>
				<input type='password' name='Cpassword' id='cpassword-field' class='sign-form-field m-4' placeholder='Confirm Password' required>
				<br>
				<input type='submit' value='Submit' id='sign-form-submit' class='m-4'>
			</form>
		</div>

		<div class='row'>
			<p class='m-4'>Already have an account?</p> 
			<a id='textLink' class='m-4' href='login'>Login</a>
		</div>

		<div class='row'>
			<p>{{username}}</p>
		</div>

		</div>

	</div>

	{{> bottom}}

</body>
</html>
