<html>
<head>
	<title>skinX</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">-->
	<link href="/css/skinX.css" rel="stylesheet">

</head>
<body>
	<!--greybox sizing
	<section >
		<h1> skinX </h1>
		<img src="/image/homeimg.svg" alt='home_image'>
	</section>*/-->

	<div class='container'>
		<!--<div class='row'>
			<img class='rounded mx-auto d-block' id='iphoneBar' src="/image/iphonetop.svg" alt='iphonetop_image'>
		</div>-->

		<p class='text-center' id='mainTitle'>WELCOME TO skinX</p>
		<p class='text-center' id='infoText'>Good skin care products can help improve the appearance and 
				texture of your skin at any time of life!</p>
		<p class='text-center' id='naviText'>Begin by selecting one of the following:</p>
		

		<div class='row'>
			<div class='col-1'></div>
			<div class='col-10 my-2' id='homeBox'>
				<!--<div class='row-1'></div>
				<div class='row-2'>
					<p class='text-center' id='mainText'>Skincare Education</p>
				</div>
				<div class='row-2'>
					<p class='text-center' id='mainText'>Take Skincare Quiz</p>
				</div>
				<div class='row-6'>
					<img class='rounded mx-auto d-block' src='/image/homeimg.svg' alt='home-img'>
				</div>
				<div class='row-1'></div>-->
				<div class='row mx-auto my-4 d-block'>
					<a class='btn btn-secondary mx-auto d-block' id='homeButton' href='education' 
					role="button">Skincare Education</a>
				</div>

				<div class='row mx-auto my-4 d-block'>
					<a class='btn btn-secondary mx-auto d-block' id='homeButton' href='profile' 
					role="button">Take Skincare Quiz</a>
				</div>

				<div class='row mx-auto my-5 d-block'>
					<img class='rounded mx-auto d-block' src='/image/homeImgBW.svg' alt='home-img'>
				</div>

				<!--<div class='row'style='margin:4%; text-align:center;'>
					<a class='btn btn-secondary mx-auto d-block' id='homeButton' href='education' 
					role="button">Skincare Education</a>
				</div>

				<div class='row'style='margin:4%; text-align:center;'>
					<a class='btn btn-secondary mx-auto d-block' id='homeButton' href='profile' 
					role="button">Take Skincare Quiz</a>
				</div>-->
			
			</div>
			<div class='col-1'></div>
		</div>

		<!--TRYING TO ADD HOME PG PIC....SPACING IS OFF
		<div class='row'>
			<div class='col-1'></div>
			<div class='col-10' id='homeBox'>
				<img id='homeB.W' class='homeB.W' src='/image/homeB.W.jpeg' alt='home-pic'>
		</div>-->


		<div class='row my-2' id='navBar'>
			<div class='col mx-auto my-auto d-block'>
				<a href='/' class='thumbnail'>
				<button class="btn btn-secondary mx-auto my-auto d-block"><img src='/image/homeButton.svg' alt='home-button'></button>
				</a>
			</div>

			<div class='col mx-auto my-auto d-block'>
				<a href='education' class='thumbnail'>
				<button class="btn btn-secondary mx-auto my-auto d-block">
					<img id='barImg' class='barImg' src='/image/edButton.svg' alt='ed-button'>
				</button>
				</a>
			</div>

			<div class='col mx-auto my-auto d-block'>
				<a href='profile' class='thumbnail'>
				<button class="btn btn-secondary mx-auto my-auto d-block">
					<img id='barImg' class='barImg' src='/image/profileButton.svg' alt='profile-button'>
				</button>
				</a>
			</div>
		</div>

	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
		crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
		crossorigin="anonymous">
	</script>
	<!--<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>-->
	<script src="/js/skinX.js"></script>

</body>
</html>

