<html>
<head>
	<title>skinX Login</title>
	{{> top}}

</head>
<body>
	<div class='container'>

		<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='leaf-img'>
		</div>

		<p class='text-center' id='mainTitle'>skinX</p>

		<div id='mainBackground'>

		<div class='row'>
			<!--login form-->
			<!--<form id='login-form'>-->
			<form class='form1'>
				<!--email input-->
				<p class='sign' align='center'>Please sign in to continue</p>
				<br>
					<input type='text' name='username' id='email-field' class='un' class='m-4' placeholder='Enter Username' required>
					<input type='password' name='password' id='password-field' class='un' class='login-form-field m-4' placeholder='Enter Password' required>
					<br>
					<input style='font-family:'Lato';' class='submit' type='button' value='LOGIN' id='login-form-submit' class='m-4'>
					<br>
					<p class='register' align='center' class='m-4'>Don't have an account? <a style='font-weight:bold;' class='register' href='/'>SIGN UP</a></p> 
					<br>
			</form>
		</div>

		</div>

	</div>

	{{> bottom}}

</body>
</html>
