<html>
<head>
	<title>skinX Login</title>
	{{> top}}
	{{> facebook}}
	<script src="/js/facebook.js"></script>

</head>
<body>
	<div class='container'>

		<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='leaf-img'>
		</div>

		<p class='text-center' id='mainTitle'>skinX</p>

		<div id='mainBackground'>

		<div class='row'>
			<p class='m-4'>Please sign in to continue</p>
		</div>

		<div class='row'>
			<!--login form-->
			<form id='login-form'>
				<!--email input-->
				<input type='text' name='username' id='email-field' class='m-4' placeholder='Enter Email' required>
				<input type='password' name='password' id='password-field' class='login-form-field m-4' placeholder='Enter Password' required>
				<br>
				<input type='button' value='Login' id='login-form-submit' class='m-4'>
			</form>
		</div>
		
		<div class='row'>
			<p class='mx-4'>OR</p>
		</div>

		<div class='row'>
			<div class='m-4'>
			<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
			</fb:login-button>
			</div>
		</div>

		<div class='row'>
			<p class='m-4'>Don't have an account?</p> 
			<a id='textLink' class='m-4' href='/'>Sign Up</a>
		</div>

		</div>

	</div>


	{{> bottom}}

</body>
</html>
