<html>
<head>
	<title>skinX Login</title>
	{{> top}}

</head>
<body>
	<div class='container'>

		<p class='text-center' id='mainTitle'>skinX</p>

		<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' src='/image/leaf.svg' alt='leaf-img'>
		</div>

		<div id='mainBackground'>

		<div class='row'>
			<!--login form-->
			<!--<form id='login-form'>-->
			<form class='form1 m-auto'>
				<!--email input-->
				<br>
				<p class='sign mx-auto my-auto d-block'>Please sign in to continue</p>
				<br>
					<input type='text' name='username' id='email-field' class='un mx-auto my-auto d-block px-5 py-2' placeholder='Enter Username' required>
					<br>
					<input type='password' name='password' id='password-field' class='un mx-auto my-auto d-block px-5 py-2'placeholder='Enter Password' required>
					<br>
					<input style='font-family:'Lato';' class='submit mx-auto my-auto d-block px-5 py-2' type='button' value='LOGIN' id='login-form-submit'>
					<br>
					<p class='register'>Don't have an account? <a style='font-weight:bold;' class='register' href='/'>SIGN UP</a></p> 
					<br>
			</form>
		</div>

		</div>

	</div>

	{{> bottom}}

</body>
</html>
