<html>
<head>
	<title>My Profile</title>
	{{> top}}
</head>
<body style="background-color: rgb(250, 250, 250);">

	<div class='container'>
		<div id='mainSpace'>

		<p id='mainTitle'>Profile  <img class='leafSize' src='/image/leaf.svg' alt='leaf-img'></p>

		<p id='userName'>Hello, {{username}}!</p>
		<br>
		<br>
		<br>
		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='quiz'
			role="button">Skin Type Quiz</a>
		</div>

		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='{{userResults}}' 
			role="button">View Skincare Results</a>
		</div>

		<p id='profileText'>OR</p>

		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='login' 
			role="button">Switch Account</a>
		</div>

		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='login' 
			role="button">Sign Out</a>
		</div>

		</div>

	</div>

	<div>
		{{> nav}}
	</div>

	{{> bottom}}

</body>
</html>

