<html>
<head>
	<title>My Profile</title>
	{{> top}}
</head>
<body>

	<div class='container'>
		<div id='mainSpace'>

		<p id='mainTitle'>Profile</p>

		<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' id='profile' src='/image/leaf.svg' alt='profile-img'>
		</div>

		<h1 id='name'>{{username}}</h1>

		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='quiz'
			role="button">Skincare Quiz</a>
		</div>

		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='{{userResults}}' 
			role="button">Skincare Results</a>
		</div>

		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='login' 
			role="button">Switch Account</a>
		</div>

		<div class='row mx-auto my-4 d-block'>
			<a class='button mx-auto d-block' href='login' 
			role="button">Sign Out</a>
		</div>

		</div>

	</div>

	<div>
		{{> nav}}
	</div>

	{{> bottom}}

</body>
</html>

