<html>
<head>
	<title>skinX Quiz</title>
	{{> top}}
</head>
<body style="background-color: #dae4d2;">
	<div class='container' id='mainSpace'>

		<p id='mainTitle'>Skin Type Quiz  <img class='leafSize' src='/image/leaf.svg' alt='leaf-img'></p> 
		<p id='quizText'> Let’s find what your skin needs to feel its best!</p>

		<div class="row quiz_box mx-auto my-4">

			<div id="game" class="justify-center flex-column"> 
			<form name="quiz" id="quiz">

				<div>
					<h6>1. Which age range do you fall under? </h6>
		
					<label>
					<input type="radio" name="question1" value="17 or younger"><span>17 or younger</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question1" value="18-34"><span>18-34</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question1" value="35-54"><span>35-54</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question1" value="55+"><span>55+</span>
					</label>
				</div>  <br>
	
				<div>
					<h6>2. What is your top skincare concern? </h6>
					<label>
					<input type="radio" name="question2" value="Acne"><span>Acne</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question2" value="Dullness"><span>Dullness</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question2" value="Redness"><span>Redness</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question2" value="Dark spots"><span>Dark spots</span>
					</label>
				</div> <br>
	
				<div>
					<h6>3. Which most closely describes your pores? </h6>
					<label>
					<input type="radio" name="question3" value="Large and visible all over"><span>Large and visible all over</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question3" value="Medium sized and all over"><span>Medium sized and all over</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question3" value="Small, not noticeable"><span>Small, not noticeable</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question3" value="Large in T-zone area"><span>Large in T-zone area</span>
					</label>
				</div> <br>
	
				<div>
					<h6>4. How often do you get acne or breakouts? </h6>
					<label>
					<input type="radio" name="question4" value="Never"><span>Never</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question4" value="Not very often"><span>Not very often</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question4" value="Often"><span>Often</span>
					</label>

					<br>

					<label>
					<input type="radio" name="question4" value="Very frequently"><span>Very frequently</span>
					</label>
				</div> <br> <br>
	
				<input type="button" name="" value="SUBMIT" id='quizSubmit' class='m-auto d-block py-2 px-5' style="color:white; background-color:#639238; border:none; border-radius:5px; padding:5px;">

			</form>
			<p id="result"></p>

			</div>

		</div>
	</div>

	{{> nav}}
	
	{{> bottom}}

</body>
</html>