<html>
<head>
	<title>Quiz</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="quiz.css">
	<script type="text/javascript" src="quiz.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/skinX.css" rel="stylesheet">
	<link href="/css/quiz.css" rel="stylesheet">
</head>
<body>
	<div class='container'>

		<p id='mainTitle'>Skin Type Quiz</p>
		<p id='naviText'> Let’s find what your skin needs to feel its best!</p>
	
		<div class="row quiz_box mx-auto my-4">
		<div id="game" class="justify-center flex-column"> 
			<form name="quiz" id="quiz">
	<div>
		<h6>1. Which age range do you fall under? </h6>
		<p><input type="radio" name="question1" value="17 or younger"> A. 17 or younger </p>
		<p><input type="radio" name="question1" value="18-34"> B. 18-34 </p>
		<p><input type="radio" name="question1" value="35-54"> C. 35-54 </p>
		<p><input type="radio" name="question1" value="55+"> D. 55+ </p>
	</div>

	<div>
		<h6>2. What is your top skincare concern? </h6>
		<p><input type="radio" name="question2" value="Acne"> A. Acne </p>
		<p><input type="radio" name="question2" value="Dullness"> B. Dullness </p>
		<p><input type="radio" name="question2" value="Redness"> C. Redness </p>
		<p><input type="radio" name="question2" value="Dark spots"> D. Dark spots </p>
	</div>

	<div>
		<h6>3. Which most closely describes your pores? </h6>
		<p><input type="radio" name="question3" value="Large and visible all over"> A. Large and visible all over </p>
		<p><input type="radio" name="question3" value="Medium sized and all over"> B. Medium sized and all over </p>
		<p><input type="radio" name="question3" value="Small, not noticeable"> C. Small, not noticeable </p>
		<p><input type="radio" name="question3" value="Large in T-zone area"> D. Large in T-zone area </p>
	</div>

	<div>
		<h6>4. How often do you get acne or breakouts? </h6>
		<p><input type="radio" name="question4" value="Never"> A. Never </p>
		<p><input type="radio" name="question4" value="Not very often"> B. Not very often </p>
		<p><input type="radio" name="question4" value="Often"> C. Often </p>
		<p><input type="radio" name="question4" value="Very frequently"> D. Very frequently </p>
	</div>

	<input type="button" name="" value="SUBMIT" id="quizSubmit" onclick="check()" style="color:white; background-color:#639238; border:none; padding:5px;>
</form>

<p id="result"></p>
	</div>
	</div>
	</div>

	<div>

		{{> nav}}
		
	</div>
	

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
		crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
		crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
		crossorigin="anonymous">
	</script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/skinX.js"></script>

</body>
</html>