/*.choice-container {
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 15px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #C3D6B3;
    align-items: center;
    display: flex;
    top:50%;
    left:50%;
    
}

.choice-container:hover {
    cursor: pointer;
    background-color:#639238;
    color: white;
    transform: translateY(0.1rem);
    transition: transform 150ms;
    align-items: center;
    display: flex;
    top:50%;
    left:50%;
    
}

.choice-text {
    padding: 5%;
}

.justify-center flex-column{
    display: flex;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.question {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    align-items: center;
    margin: 5px 20px 20px;
}

.question_number {
    font-size: 20px;
    font-weight: 200;
    margin: 20px 20px 1px;
}

.option_list {
    padding: 10px;
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto;
    position: relative;
    
}

.option {
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 90%;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
}

.option:hover {
    background:#639238;
    color:white;

}

.buttons {
    height:60px;
    display: flex;
    justify-content: center;
    padding: 0 35px;
}

.buttons button.back {
    margin: 0 10px;
    height: 40px;
    width: 100px;
    border: 1px solid #C3D6B3;   
    border-radius: 5px;
    background:#639238;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}


.buttons button.next {
    margin: 0 10px;
    height: 40px;
    width: 100px;
    border: 1px solid #C3D6B3;   
    border-radius: 5px;
    background:#639238;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}*/

.quiz_box{
    width:98%;
    background: #C3D6B3;
    border-radius: 10px;
    padding: 10px 15px;
    /*top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;*/
}

body {
    color: black;
    font-size: 16px;
    margin: center;
}

#button {
    background-color: #639238;
    color: white;
    font-size: 18px;
    padding:5px;
    border: #639238;
    decor
}

#mainTitle {
    padding: 20px 5px 5px;
}

#naviText {
    padding:5px;
    font-style: italic;
    color: black;
}

h6 {
    font-size: 20px; 
    font-weight: bold;
}