/* applies to anything of class "example-class-selector" */
/*.example-class-selector {
     margin-top: 2em;
}

 applies to any <p> descendants of an element of class "example-class-selector" 
.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/   
     color: #CC00AA;
}

h1, h2, h3, h4, h5 {
     color: #8382BF;
}*/


/*main config of each page*/
.container {
     min-height: 100%;
     position: relative;
}

#footer {
     position:fixed;
     bottom:0;
     width:100%;
     height:relative;    
     overflow: hidden;
}

#mainSpace{
     /*height: 1500px;*/
     height: 1100px;
}

/*end of main config*/
@font-face {
     font-family: 'Caveat';
     src:url("/fonts/Caveat-SemiBold.ttf");
}

 #mainTitle{
     font-family: 'Caveat';
     src: url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
     font-weight: bold;
     font-size: 15vw;
     color: #639238;
}

.button {
     background-color: #639238;
     border: none;
     border-radius: 1rem;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 2.5rem;
     cursor: pointer;
     font-family: 'Lato';
     font-style: normal;
     font-weight: normal;
     text-transform: uppercase;
}

.buttonEd {
     background-color: #C3D6B3;
     border: none;
     border-radius: 1rem;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 2rem;
     cursor: pointer;
     font-family: Lato;
     font-style: normal;
     font-weight: normal;
     text-transform: uppercase;
}

.accountButton {
     background-color: #445633;
     border: none;
     border-radius: 1rem;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 2.5rem;
     cursor: pointer;
     font-family: Lato;
     font-style: normal;
     font-weight: normal;
     text-transform: uppercase;
}


/*what is this for?*/
#mainText{
     font-family: 'Lato';
     font-style: normal;
     font-weight: bold;
     font-size: 30px;
     color: #FFFFFF; 
     border-radius: 10px;
     background: #7892A9;
}

#infoText{
     font-family: Lato;
     font-style: italic;
     text-align: center;
     font-weight: normal;
     font-size: 16px;
     color:#68725f; 
}

#naviText{
     padding-top: 4%;
     font-family: 'Lato';
     text-align: center;
     font-style:normal;
     font-weight: bolder;
     font-size: 24px;
     line-height: 22px;
     color:#639238;

}

#homeBox {
     height: 512px;
     background: #F4F2F2;
     border-radius: 10px;
}

/*#navBar{
     height: 52px;
     background:#D0D7DD;
     border-radius: 10px;
}*/

#homeButton {
     font-family: 'Lato';
     font-style: normal;
     font-weight: normal;
     font-size: 1rem;
     color: white;
     text-transform: uppercase;
 }

 .nav {
     /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);*/
     background-color: #ffffff;
     bottom: 0%;
 }
 
 .nav__link {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex-grow: 1;
     min-width: 50px;
     overflow: hidden;
     white-space: nowrap;
     font-family: sans-serif;
     font-size: 13px;
     color: #444444;
     text-decoration: none;
     -webkit-tap-highlight-color: transparent;
     transition: background-color 0.1s ease-in-out;
 }
 
 .nav__link:hover {
     background-color: #eeeeee;
 }
 
 .nav__link--active {
     color: grey;
 }
 
 .nav__icon {
     font-size: 18px;
 }
 
 button {
    color: #C3D6B3;
 }

/*Login & sign up CSS*/
#mainbackground{
     background-color:white;
     border-radius: 20px;
     box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

form.form1 {
     padding-top: 40px;
 }

.sign {
     padding-top: 40px;
     color:#639238;
     font-family: 'Lato';
     font-weight:700;
     font-size: 23px;
}
 
.un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 22px;
    font-family: 'Lato';
}

.submit {
     cursor: pointer;
     color: #fff;
     background: linear-gradient(to right,#71a046,#629137);
     border-radius: 20px;
     border-color: #639238;
     padding-left: 40px;
     padding-right: 40px;
     padding-bottom: 10px;
     padding-top: 10px;
     font-family: 'Lato';
     margin-left: 35%;
     font-size: 14px;
     border: #F4F2F2;
     text-transform: capitalize;
   }

.register {
     text-shadow: 0px 0px 3px rgba(252, 252, 252, 0.12);
     color:#639238;
     padding-top: 14px;
     text-transform: capitalize;
     font-family: 'Lato';
}

#login-form-submit {
     border-radius: 20px;
     color: white;
     font-weight: bold;
     background-color: #639238;
     font-family: 'Lato';
}

/*quiz results*/
.resultsrec {
     color: #639238; 
     font-size:18px; 
     font-weight:bold;
}

.resultssummary {
     font-style:italic; 
     font-size:14px;
}

/*quiz*/
.quiz_box{
     width:98%;
     border-radius: 15px;
     padding: 10px 15px;
     /*top:55%;
     left:50%;
     transform: translate(-50%, -50%);
     position: absolute;*/
 }
 
 body {
     color: black;
     font-size: 16px;
     margin: center;
     background-color: #dae4d2;
 }
 
 #button {
     background-color: #639238;
     color: white;
     font-size: 18px;
     padding:5px;
     border: #639238;
 }
 
 #mainTitle {
     padding: 20px 5px 5px;
 }
 
 #quizText {
     padding:5px;
     font-style: italic;
     color: black;
 }
 
 h6 {
     font-size: 20px; 
     font-weight: bold;
 }

 /*articles*/

 #articles-image {
     border-radius: 5px;
     width: 175px;
     height: 175px;
}

.articlesrec {
     color: #639238; 
     font-size:18px; 
     font-weight:bold;
}

.articlessummary {
     font-size:14px;
}

.productsummary {
     color: black; 
     font-size:14px; 
     text-align: center;

}
/*profile*/
#userName {
     color:#639238; 
     font-size:25px; 
     text-align: center;
     font-style: italic;
     font-family: 'Lato';
}
#profileText {
     color: black; 
     font-size:18px; 
     font-style: italic;
     text-align: center;
}

/*results*/
.resultsimg {
     align-items: center;
     width:100%;
     border-radius: 15px;
     padding: 10px 15px;

}

