/* applies to anything of class "example-class-selector" */
/*.example-class-selector {
     margin-top: 2em;
}

 applies to any <p> descendants of an element of class "example-class-selector" 
.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/   
     color: #CC00AA;
}

h1, h2, h3, h4, h5 {
     color: #8382BF;
}*/


/*main config of each page*/
.container {
     min-height: 100%;
     position: relative;
}

#footer {
     position:fixed;
     bottom:0;
     width:100%;
     height:relative;    
     overflow: hidden;
}

#mainSpace{
     height: 1750px;
}

/*end of main config*/

 #mainTitle{
     font-family: Caveat;
     font-style: normal;
     font-weight: bold;
     font-size: 3rem;
     color: #639238;
}

.button {
     background-color: #639238;
     border: none;
     border-radius: 1rem;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 2rem;
     cursor: pointer;
     font-family: Lato;
     font-style: normal;
     font-weight: normal;
     text-transform: uppercase;
}

/*what is this for?*/
#mainText{
     font-family: Lato;
     font-style: normal;
     font-weight: bold;
     font-size: 30px;
     color: #FFFFFF; 
     border-radius: 10px;
     background: #7892A9;
}

#infoText{
     font-family: Lato;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     color: #5F6C78; 
}

#naviText{
     padding-top: 4%;
     font-family: Lato;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 22px;
     color: #5F6C78;

}

#homeBox {
     height: 512px;
     background: #F4F2F2;
     border-radius: 10px;
}

/*#navBar{
     height: 52px;
     background:#D0D7DD;
     border-radius: 10px;
}*/

#homeButton {
     font-family: Lato;
     font-style: normal;
     font-weight: normal;
     font-size: 1rem;
     color: white;
     text-transform: uppercase;
 }

 .nav {
     /*box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);*/
     background-color: #ffffff;
     bottom: 0%;
 }
 
 .nav__link {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     flex-grow: 1;
     min-width: 50px;
     overflow: hidden;
     white-space: nowrap;
     font-family: sans-serif;
     font-size: 13px;
     color: #444444;
     text-decoration: none;
     -webkit-tap-highlight-color: transparent;
     transition: background-color 0.1s ease-in-out;
 }
 
 .nav__link:hover {
     background-color: #eeeeee;
 }
 
 .nav__link--active {
     color: grey;
 }
 
 .nav__icon {
     font-size: 18px;
 }
 
 button {
    color: #C3D6B3;
 }

/*Login & sign up CSS*/
#mainBackground {
     background-color: #C3D6B3;
}

#login-form-submit {
     border-radius: 5px;
     color: white;
     font-weight: bold;
     background-color: #639238;
}

#textLink {
     color:#639238;
}

/*articles*/
#articles-image {
     border-radius: 5px;
     width: 175px;
     height: 175px;
}

/*quiz results*/
.resultsrec {
     color: #639238; 
     font-size:18px; 
     font-weight:bold;
}

.resultssummary {
     font-style:italic; 
     font-size:14px;
}

/*quiz*/
.quiz_box{
     width:98%;
     border-radius: 15px;
     padding: 10px 15px;
     /*top:55%;
     left:50%;
     transform: translate(-50%, -50%);
     position: absolute;*/
 }
 
 body {
     color: black;
     font-size: 16px;
     margin: center;
 }
 
 #button {
     background-color: #639238;
     color: white;
     font-size: 18px;
     padding:5px;
     border: #639238;
 }
 
 #mainTitle {
     padding: 20px 5px 5px;
 }
 
 #quizText {
     padding:5px;
     font-style: italic;
     color: black;
 }
 
 h6 {
     font-size: 20px; 
     font-weight: bold;
 }

 /*articles*/
.articlesrec {
     color: #639238; 
     font-size:18px; 
     font-weight:bold;
}

.articlessummary {
     font-style:italic; 
     font-size:14px;
}



